<launch>
  <!-- move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    
    <rosparam file="$(find indoor_bot)/config/dwa_planner/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find indoor_bot)/config/dwa_planner/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <rosparam file="$(find indoor_bot)/config/dwa_planner/costmap_local_params.yaml" command="load" />

    <rosparam file="$(find indoor_bot)/config/dwa_planner/costmap_global_params.yaml" command="load" />
    
    <rosparam file="$(find indoor_bot)/config/dwa_planner/move_base_params.yaml" command="load" />

    <rosparam file="$(find indoor_bot)/config/dwa_planner/dwa_local_planner_params.yaml" command="load" />

  </node>
</launch>
